Установка и запуск
1. Клонируйте репозиторий:
git clone git@github.com:marskond/Fitness-tracker.git
2. Перейдите в директорию проекта:
cd /Users/mariakondakova/Fitness-tracker
3. Установите зависимости (убедитесь, что у вас установлен Python и pip, затем выполните):
pip install -r requirements.txt
4. Запустите приложение:
python src/main.py или python3 src/main.py
После выполнения этих шагов приложение запустится, и вы сможете начать использовать фитнес-трекер.